* {
    margin: 0;
    padding: 0;
}

body {
    color: #FEFEFE;
    background-color: #111015;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent-div {
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.data-div {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: #1B1B1D;;
}

form {
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2px;
    border: 2px solid #5c6b73;
    padding: 20px;
}

.input-div {
    text-align: left;
}

#city {
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: #1B1B1D;
    border: none;
    border-radius: 2px;
    border: 1px solid #5c6b73;
    color: #FEFEFE;
}

.select-div {
    height: 50px;
    width: 300px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#country {
    border-radius: 2px;
    border: none;
    border: 3px solid #5c6b73;
    background-color: #1B1B1D;
    color: #FEFEFE;
    height: 40px;
    width: 60px;
}

.submit-btn {
    width: 150px;
}

button {
    height: 50px;
    width: 150px;
    background-color: #111015;
    color: #FEFEFE;
    border-radius: 5px;
    border: none;
    border: 2px solid #5c6b73;
    cursor: pointer;
}